
.container {
  position: relative;
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  position: absolute;
  top: 0;
  width: 100%;
  height: 2.5rem; 
  border-bottom: 2px solid #eaeaea;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.main {
  display: column;
  background-color: #f0f0f0;
  width: 85vw;
}

.main .country {
  background-color: rgb(157, 208, 224);
  padding: 1rem;
  margin: 10px;
  display: flex;
  justify-content: space-between;

}

.main .country a {
  width: 100vw;
  
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem; 
  border-top: 2px solid #eaeaea;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: background .5s;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
}

.footer a:hover {
  background-color: #c5d8e2;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

/*
.main {
  
}

.main .countries {
  
}
*/

/*
.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}
.main .country .chart-wrapper {
  background-color: #eaeaea;
}

*/
.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}